<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ros2_motor_interface" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>motor_interface/Motor</plugin>
        
        <param name="can_name">can1</param>
        <param name="serverPort">8881</param>
        <param name="serverIP">192.168.4.101</param>
        
      </hardware>

      <joint name="${prefix}M2006_201_Gimbal1">
        <!-- <command_interface name="position">
        </command_interface>
        <command_interface name="velocity">
        </command_interface> -->

        <command_interface name="effort">
        </command_interface>
        
        
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
